@import "../../../styles.scss";

.center {
  display: flex;
  justify-content: center;

  .carregar-mais {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.mensagem-center {
  color: $preto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    color: $branco;
  }
}
