@import '../../../styles.scss';

.carregar-mais {
  margin-top: 10px;
  margin-bottom: 10px;
}
.center {
  display: flex;
  justify-content: center;
}
.mensagem-center {
  color: $preto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  color: $branco;
}
