@import "../../../styles.scss";

.acoes {
  display: flex;
  justify-content: flex-end;
}

.botao-excluir {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}

.botao-editar {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.modelo,
.modelo1,
.modelo2,
.modelo3 {
  background: #ebedf1;
  border: 1px solid $cinza;
  padding: 1rem;
  margin: 1rem 0 2rem;

  .titulo {
    text-align: center;
    margin: 1rem auto;
    word-wrap: break-word;
  }

  .descricao {
    word-wrap: break-word;
  }

  .data {
    margin: 1rem auto;
    word-wrap: break-word;
  }

  .prioridade {
    text-transform: uppercase;
    word-wrap: break-word;
  }
}

.lembrete-g {
  width: 556px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.lembrete-p {
  width: 262px;

  @media screen and (max-width: 426px) {
    width: 100%;
  }
}


.modelo1 {
  box-shadow: 8px 8px 1px $vermelho-escuro;
}

.modelo2 {
  box-shadow: 8px 8px 1px #39b8f8;
}

.modelo3 {
  box-shadow: 8px 8px 1px #84ee89;
}
