.acoes {
  display: flex;
  justify-content: flex-end
}

.botao-excluir {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}

.botao-editar {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.modelo, .modelo1, .modelo2, .modelo3 {
  background: #ebedf1;
  border: 1px solid var(--cinza);
  padding: 1rem;
  max-width: 250px;
  margin: 1rem 0 2rem;
}

.modelo .titulo {
  text-align: center;
  margin: 1rem auto;
  word-wrap: break-word;
}

.modelo .descricao {
  word-wrap: break-word;
}

.modelo .data {
  margin: 1rem auto;
  word-wrap: break-word;
}

.modelo .prioridade {
  text-transform: uppercase;
  word-wrap: break-word;
}

.modelo1 {
  box-shadow: 8px 8px 1px var(--vermelho-escuro);
}

.modelo2 {
  box-shadow: 8px 8px 1px #39b8f8;
}

.modelo3 {
  box-shadow: 8px 8px 1px #84ee89;
}

.lembrete-g {
  width: 556px;
}

.lembrete-p {
  width: 262px;
}

@media screen and (max-width: 768px) {
  .pensamento-g {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .pensamento-p {
    width: 100%;
  }
}
