@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* fontes */
$fonte-titulo: "Rubik", sans-serif;
$fonte-padrao: "Montserrat", sans-serif;

/* cor */
$preto: #000000;
$branco: #ffffff;
$cinza: #cccccc;

$vermelho: #fe0303;
$vermelho-escuro: #970000;

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}


/* estilo padrozinado */
body {
  font-family: $fonte-padrao;
}

main {
  min-height: 100vh;
}

b, strong {
  font-weight: bold;
}

.botao {
  background-color: $branco;
  border: 1px solid $vermelho;
  border-radius: 14px;
  color: $preto;
  font-weight: bold;
  margin: 1em;
  padding: 1em;
  transition: 0.5s ease;

  &:disabled {
    background-color: $cinza;
    border: 1px solid $branco;
    color: $branco;
    cursor: default;
    transition: 0.5s ease;
  }

  &:hover:not(:disabled) {
    background-color: $vermelho;
    box-shadow: 0 1px 8px $vermelho-escuro;
    cursor: pointer;
    color: $branco;
  }

  &:focus:not(:disabled) {
    border: 1px solid $vermelho-escuro;
    box-shadow: 0 1px 5px rgb(53, 53, 136);
    outline: none;
  }
}

.container {
  padding: 1rem;
  margin: 0 auto;

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }
}
