@import "../../../styles.scss";

.cabecalho {
  align-items: center;
  background-image: linear-gradient(
    to right,
    $vermelho 0%,
    $vermelho 50%,
    $vermelho-escuro 100%
  );
  border-bottom: 1px solid $cinza;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 2em;
  position: relative;

  &__titulo {
    color: $branco;
    font-family: $fonte-titulo;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    // gap: 12px 0;

    .nav__link {
      color: $branco;
      padding-right: 2em;
      text-decoration: none;
    }

    .nav__link:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  &__menu-hamburguer:hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
    align-items: center;
    .cabecalho__titulo {
      position: static;
      transform: none;
      margin-bottom: 1em;
    }
    .cabecalho__nav {
      flex-direction: column;
      .nav__link {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .cabecalho {
    flex-direction: column;
    align-items: center;
    .cabecalho__titulo {
      position: static;
      transform: none;
      margin-bottom: 1em;
    }
    .cabecalho__nav {
      flex-direction: column;
      .nav__link {
        padding-right: 0;
      }
    }
  }
}
