<section class="container perfil">
  <div class="header">
    <h2>Editar minha conta:</h2>
  </div>
  <form [formGroup]="formulario" *ngIf="formulario">
    <img [src]="imagemPreview || '../../../assets/imagens/account_circle_48dp_FILL0_wght400_GRAD0_opsz48.svg'"
         alt="foto de perfil"
         (click)="fileInput.click()"
         style="cursor: pointer;">

    <!-- Input de arquivo escondido -->
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
    <label for="nome">Nome:</label>
    <input type="text" class="input" id="nome" formControlName="nome" placeholder="digite o nome">
    <div class="mensagem__erro" *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
      Este campo é obrigatorio!
    </div>
    <div class="mensagem__erro" *ngIf="formulario.get('nome')?.errors?.['minlength'] && formulario.get('nome')?.touched">
      Insira no mínimo 4 caracteres!
    </div>
    <label for="email">Email:</label>
    <input type="email" class="input" id="email" formControlName="email" placeholder="digite o email">
    <div class="mensagem__erro"
      *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">
      Este campo é obrigatorio!
    </div>
    <div class="mensagem__erro" *ngIf="formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched">
      Insira um email valido!
    </div>
    <label for="senha">Senha:</label>
    <input type="password" class="input" id="senha" formControlName="senha" placeholder="digite a senha">
    <div class="mensagem__erro"
      *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
      Este campo é obrigatorio!
    </div>
    <div class="mensagem__erro"
      *ngIf="formulario.get('senha')?.errors?.['minlength'] && formulario.get('senha')?.touched">
      Insira no mínimo 5 caracteres!
    </div>
    <div class="acoes">
      <button (click)="cancelar()" class="botao">Voltar</button>
      <button (click)="editarUsuario()" class="botao" [disabled]="!formulario.valid">Atualizar</button>
    </div>
  </form>
</section>

