@import "../../../styles.scss";

.rodape {
  align-items: center;
  background-image: linear-gradient(
    to right,
    $vermelho 0%,
    $vermelho 50%,
    $vermelho-escuro 100%
  );
  border-top: 1px solid $cinza;
  display: flex;
  justify-content: center;
  padding: 2em 3em;

  p {
    color: $branco;
    font-size: 12px;
    font-style: italic;
  }
}
