@import "../../../styles.scss";

.rodape {
  align-items: center;
  background-image: linear-gradient(
    to right,
    $vermelho 40%,
    $vermelho-escuro 60%
  );
  border-top: 1px solid $cinza;
  display: flex;
  justify-content: center;
  padding: 3em 5em;
}

.rodape p {
  color: $branco;
  font-size: 12px;
  font-style: italic;
}
